<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="rdpFileUrl" value="http://helios-rec.elior.net/_api/web/GetFileByServerRelativeUrl('/Lists/Applications/Attachments/2/Losanges_Rec%20(Elior).rdp')/$value" />
    <add key="rdpFileName" value="losanges.rdp"/>

    <add key="rdpFileUrl_GMP" value="http://helios-rec.elior.net/_api/web/GetFileByServerRelativeUrl('/Lists/Applications/Attachments/1/Gestion%20MP_Rec%20(Elior).rdp')/$value" />
    <add key="rdpFileName_GMP" value="GMP_REC.rdp"/>
    <add key="rdpFileUrl_LOS" value="http://helios-rec.elior.net/_api/web/GetFileByServerRelativeUrl('/Lists/Applications/Attachments/2/Losanges_Rec%20(Elior).rdp')/$value" />
    <add key="rdpFileName_LOS" value="LOS_REC.rdp"/>
    <add key="rdpFileUrl_FAC" value="http://helios-rec.elior.net/_api/web/GetFileByServerRelativeUrl('/Lists/Applications/Attachments/3/Factures_Rec%20(Elior).rdp')/$value" />
    <add key="rdpFileName_FAC" value="FAC_REC.rdp"/>
    <add key="rdpFileUrl_DVA" value="http://helios-rec.elior.net/_api/web/GetFileByServerRelativeUrl('/Lists/Applications/Attachments/4/Devis_Rec%20(Elior).rdp')/$value" />
    <add key="rdpFileName_DVA" value="DVA_REC.rdp"/>
    <add key="rdpFileUrl_FDK" value="http://helios-rec.elior.net/_api/web/GetFileByServerRelativeUrl('/Lists/Applications/Attachments/5/Feuilles%20de%20Caisse_Rec%20(Elior).rdp')/$value" />
    <add key="rdpFileName_FDK" value="FDK_REC.rdp"/>
    <add key="rdpFileUrl_CSH" value="http://helios-rec.elior.net/_api/web/GetFileByServerRelativeUrl('/Lists/Applications/Attachments/6/Cash_Rec%20(Elior).rdp')/$value" />
    <add key="rdpFileName_CSH" value="CSH_REC.rdp"/>

  </appSettings>
  <startup>
    <supportedRuntime version="v2.0.50727"/>
  </startup>
</configuration>
