<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="rdpFileUrl" value="http://helios-rec.elior.net/_api/web/GetFileByServerRelativeUrl('/Lists/Applications/Attachments/1/Gestion%20MP_Rec%20(Elior).rdp')/$value" />
    <add key="rdpFileName" value="cpub-FTE_Menu-PRO5-CmsRdsh.rdp"/>
  </appSettings>
    <startup>         
    <supportedRuntime version="v2.0.50727"/></startup>
</configuration>
